#board {

  margin: auto;
  width: 700px;
}

div.field {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: gray;
  margin-right: 10px;
  float: left;
}

div.field:hover {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: gray;
  margin-right: 10px;
  float: left;
  opacity: 0.5;
}

div.line {
  height: 30px;
  float: none;
  margin-bottom: 8.66px;
}

div.empty {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  float: left;
  opacity: 0.0;
}
