body {
  background-color: aquamarine;
}

#board {

}

div.field {
  border-radius: 50%;
  width: 2.5vmax;
  height: 2.5vmax;
  background-color: gray;
  margin-right: 10px;
}

div.field:hover {
  border-radius: 50%;
  width: 2.5vmax;
  height: 2.5vmax;
  background-color: gray;
  margin-right: 10px;
  opacity: 0.5;
}

div.line {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}
